html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f9f9;
}

#container {
    display: flex;
    flex-direction: column;
    width: 42%;
    height: 42%;
    margin-bottom: 22%;
    background-color: white;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    aspect-ratio: 1 / 1;
    border: 1px solid black
}

.highlighted {
    background-color: red;
}

button {
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border: none;
}
